body {
    background-color: #0B1315;
}

@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
}

.fa-bars {
    color: white;
}

.navbar-nav {
    margin-top: 2%;
    align-items: end;
    text-transform: uppercase;
}

.nav-link {
    color: white;
}

.logo img {
    width: 350px;
}

.nav-link:hover {
    color: #EBA059;
}

.contact-form {
    max-width: 1366px;
}

.contact-us-banner {
    background-image: url('images/Contact_Us_Banner.jpg');
    text-align: center;
    max-width: 1466px;
    max-height: 302px;
}

.contact-script {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 18rem;
    color: rgba(235, 160, 89, 0.50);
}

.contact-text {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 4rem;
    color: rgba(235, 160, 89, 0.50);
}

.contact-form label {
    color: white;
}
